@model IEnumerable<AM.ApplicationCore.Domain.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Plane Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Capacity)</th>
            <th>@Html.DisplayNameFor(model => model.ManufactureDate)</th>
            <th>@Html.DisplayNameFor(model => model.PlaneId)</th>
            <th>@Html.DisplayNameFor(model => model.PlaneType)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                <td>@Html.DisplayFor(modelItem => item.ManufactureDate)</td>
                <td>@Html.DisplayFor(modelItem => item.PlaneId)</td>
                <td>@Html.DisplayFor(modelItem => item.PlaneType)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlaneId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.PlaneId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.PlaneId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

